@import "tailwindcss";

@layer base {
  :root {
    --sat: env(safe-area-inset-top);
    --sab: env(safe-area-inset-bottom);
    --sal: env(safe-area-inset-left);
    --sar: env(safe-area-inset-right);
  }

  /* WebView Optimizations */
  html,
  body {
    @apply h-full overflow-hidden overscroll-none touch-none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    -webkit-user-select: none;
  }

  body {
    @apply bg-gray-100 flex justify-center items-center font-sans text-gray-900;
  }

  #root {
    @apply w-full h-full;
  }
}

/* Custom Scrollbar Hide if needed */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}